<form autocomplete="off" [formGroup]="model" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="mb-3">
    <input 
    formControlName="username"
    class="form-control" 
    type="text" 
    placeholder="Username">
  </div>
  <div class="mb-3">
    <label>Who is your favorite user?</label>
    <select class="form-select">
      <option *ngFor="let user of usersFromHomeComponent" [value]="user.username">
        {{user.userName}}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <input
    formControlName="password"
    class="form-control" 
    type="password" 
    placeholder="Password">
  </div>
  <div class="text-center">
    <button class="btn btn-outline-success me-2" type="submit">Register</button>
    <button class="btn btn-outline-default me-2" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>