<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container  *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
              <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
          </ng-container>
        </ul>

        <div class="d-flex align-items-center justify-content-between" style="width: 300px; margin-left: auto; margin-right: auto;" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a class="nav-link text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
          <a class="nav-link text-light">Edit Profile</a>
          <a class="nav-link text-light" (click)="logout()">Logout</a>
        </div>



        <form *ngIf="!(accountService.currentUser$ | async)" class="d-flex" autocomplete="off" [formGroup]="model" (ngSubmit)="login()" >
          <input 
          formControlName="username"
          class="form-control me-2" 
          type="text" 
          placeholder="Username">
          <input
          formControlName="password"
          class="form-control me-2" 
          type="password" 
          placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
  </nav>